.btn-container {
    padding: 50px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }
.gradient-button {
    text-decoration: none;
    outline: none;
    display: inline-flex;
    color: deepskyblue;
    padding: 20px 30px;
    margin: 10px 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: white;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradient-button:hover {
    background: rgb(202, 201, 201);
    color: white;
  }

  .gradient-button:active {
    background: rgb(202, 201, 201);
    color: white;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  }

  .lives {
    display: inline-block;
    font-size: 0;
  }
  .lives span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
  }
  .lives > span:before {
    content: 'â¤';
  }
  .lives > span.active {
    color: gold;
  }

  #challenge_question h2{
    text-align: center;
  }

  #challenge_lives {
    display: flex;
    justify-content: start;
    margin: auto;
    margin-top: 40px;
  }
  #challenge.unvisible {
    display: none;
  }

  #challenge_lives .current-info {
    width: 50%;   
    text-align: right;
  }

  .current-level,
  .current-score {
    padding-right: 20px;
  }

  .current-result {
    margin-left: 50px;
  }

  #play_question {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  #play_question img {
    width: 30%;
    height: 70%;
    display: flex;
    position: relative;
    transition: transform 0.3s;
  }

  #play_question img:hover{
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  #play_question img:active{
    -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  }

  .alphabet_challenge {
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
    align-content: space-between;
    /* width: 95%; */
    position: relative;
    top: 20px;
    left: 0px;
    z-index: 100;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  
  #alphabet_challenge .item {
    font-family: "Courier", monospace;
    font-size: 0.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    width: 90px;
    margin: 10px;
    padding: 0.3em;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    background: #ddd;
    border: 0px;
    background: #eee;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35), 0px -1px 1px white;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35), 0px -1px 1px white;
  }

  
.alphabet-challenge-btn {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .alphabet-challenge-btn:hover {
    background: #8388ce;
    box-shadow: 0 15px 20px rgba(24, 68, 51, 0.4);
    color: white;
    transform: translateY(-7px);
  }

  .right-1{
    background: rgb(10,93,4);
    background: linear-gradient(90deg, rgb(48, 97, 44) 0%, rgb(118, 156, 117) 25%, white 100%);
  }
  .right-2{
    background: rgb(10,93,4);
    background: linear-gradient(90deg, rgb(48, 97, 44) 0%, rgb(118, 156, 117) 50%, rgba(232,233,233,1) 100%);
  }
  .right-3{
    background: rgb(10,93,4);
    background: linear-gradient(90deg, rgb(48, 97, 44) 0%, rgb(118, 156, 117) 75%, rgba(232,233,233,1) 100%);
    color: white;
  }
  .right { 
    background-color: rgb(48, 97, 44);
    color:white;
  }

  #alphabet_challenge_result .over-caption {
    margin: 30px;
    text-align: center;
    color: #293241;
  }

  #alphabet_challenge_result .over-info {
    text-align: center;
    color: #293241;
  }

  .disabled {
    background: #c3c9c6;
    color: black;
    transition: none !important;
  }
  .disabled:hover {
    background: #c3c9c6;
    box-shadow: 0 15px 20px rgba(24, 68, 51, 0.4);
    color: white;
    transform: translateY(0);
  }
  